
* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}  

html, body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    margin: 0px;
}

.header__left {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    background: #fff;
}

button.menu {
    position: absolute;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: none;
}

button.menu:focus {
    background: #fff;
    cursor: pointer;
}

p > code {
    background: #d5d5d5;
    padding: 2px 8px;
    border-radius: 2px;
}

.logo > img {
    height: 50px;
}

.container {
    max-width: 750px;
    width: 100%;
    margin: 0px auto;
    padding: 40px 15px;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
}

.site-name {
    font-size: 1.2rem;
    font-weight: 700;
}

footer {
    max-width: 750px;
    width: 100%;
    margin: 0px auto;
    padding: 40px 15px;
}

blockquote {
    position: relative;
    text-align: center;
    margin: 40px 20px;
    padding: 30px;
    background: #fff;
    filter: drop-shadow(0px 0px 5px rgba(128, 128, 128, 0.363));
    font-size: 1.5rem;
    font-weight: 100;
}

blockquote::before {
    content: "â";
    position: absolute;
    top: -2rem;
    left: -20px;
    font-size: 4rem;
    color: rgb(25, 25, 26);
}


img {
    max-width: 100%;
    position: relative;
}


a {
    --color: rgb(0, 0, 0);
    color: var(--color);
    position: relative;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    /* --color: rgb(0, 0, 0);
    color: var(--color);
    border-bottom: 4px solid var(--color); */
    text-decoration: underline;
}


a.tag {
    --color: rgb(167, 167, 167);
    color: var(--color);
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    text-decoration: none;
    transition: .3s;
    display: inline-block;
    margin: 5px;
    padding: 2px 10px;
    border-radius: 2px;
    margin-left: 0px;
    font-size: .9rem;
}

a.tag:hover {
    --color: rgb(0, 0, 0);
    color: var(--color);
    background: #00f5622d;
    border: 1px solid rgba(0, 0, 0, 0.104);
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

a.card-item {
    border: none;
    color: #000;
}

button {
    border: none;
    margin: none;
    background: #e8e8e8;
}

button:hover {
    background: #cacaca;
}

button:focus {
    background: #e8e8e8;
}

button:active {
    outline: 2px solid rgb(0, 247, 255);
}

main {
    position: relative;
    display: grid;
    grid-template-areas: "aside1 content aside2"
                        "footer footer footer";
                        margin: 0px auto;
    grid-template-columns: .5fr 1.5fr .5fr;
}
.icon {
    cursor: pointer;
}
.aside1 {
    grid-area: aside1;
    padding-top: 20px;
    max-height: min-content;
}

.aside1 > div > ul {
    max-width: 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 0px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.aside1 > div {
    float: right;
    /* text-align: center; */
}

.aside1 > div > ul > li {
    list-style: none;
    display: inline-block;
}

.aside1 > div  > ul > li > a {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
    outline: 1px solid rgb(0, 204, 255);
    margin: 4px;
    padding: 4px;
    cursor: pointer;
}

.aside1 > div  > ul > li > a:hover {
    text-decoration: none;
    background-color: #cdcdcd;
}


.aside1 > div  > ul > li > .icon {
    outline: none;
    padding: 0px;
} 

.aside1 > div  > ul > li > .icon:hover {
    background-color: #fff;
}

.aside2 {
    grid-area: aside2;
}

.content {
    grid-area: content;
}

footer {
    grid-area: footer;
}

#view {
    position: absolute;
    bottom: 0px;
    height: 450px;
    width: 10px;
    right: 0px;
    background: rgba(154, 154, 154, 0);
}

.card {
    padding-bottom: 20px;
    width: 100%;
}

.card > a {
    text-decoration: none;
}

.card > a:hover {
    text-decoration: none;
}

.card__meta-data {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-areas: "cardcategory cardtags carddate";
    grid-template-columns: auto 1fr 1fr;
    margin: 10px 0;
}

.card__meta-data > .tags {
    grid-area: cardtags;
    flex: 1;
}

.card__category {
    grid-area: cardcategory;
    margin-right: 15px;
    padding: 5px;
    border-radius: 2px;
    outline: 2px solid #000;
    text-decoration: none;
}

.card__category:hover {
    text-decoration: none;
    cursor: pointer;
}

.card__date {
    grid-area: carddate;
    text-align: right;
}

.text-center {
    text-align: center;
}

pre {
    padding: 15px;
    background: #454545;
    color: #fff;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: auto;
    border-radius: 4px;
}

footer > ul {
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

footer > ul > li {
    list-style: none;
}

footer > ul > li > a {
    display: flex;
    align-items: center;
    padding: 20px;
    display: inline-block;
}

footer > ul > li >  a >span {
    display: inline-block;
    padding-left: 5px;
}

.landingImage {
    max-width: 100%;
}

aside.drawer {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    background: #fff;
    z-index: 2;
    padding: 40px;
    box-sizing: border-box;
    display: none;
}

aside.drawer > ul {
    padding: 0px;
}

aside.drawer--show {
    display: block;
}

aside.drawer__content {
}

.drawer__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
}

.social-media {
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
}
.social-media > li > .icon {
    padding: 15px;
    display: inline-block;
}

.open-menu {
    overflow: hidden;
    height: 100vh;
}

.copyright {
    text-align: center;
    text-transform: capitalize;
}

.copied {
    position: fixed;
    top: 70px;
    left: 10px;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    z-index: 4;
    transition: .2s;
    transform: translateX(-110px);
}

.copied-show {
    transform: translateX(0px);
}

@media only screen and (max-width: 500px) {
    .container {
        padding: 0px;
        max-width: 100%;
        overflow: hidden;
    }
    h1, h2, h3, h4, h5, p {
        margin: 15px;
    }

    p {
        padding: 10px;
    }

    main {
        position: relative;
        display: grid;
        grid-template-areas: "content"
                            "footer";
                            margin: 0px auto;
        grid-template-columns: 1fr;
        max-width: 100%;
        width: 100vw;
    }


    .aside1 {
        grid-area: aside1;
        display: none;
    }

    .aside2 {
        grid-area: aside2;
        display: none;
    }

    .card__meta-data {
        grid-template-areas: "cardcategory" 
                            "cardtags"
                            "carddate";
        grid-template-columns: 1fr;
        padding: 10px;
        max-width: 100%;
        box-sizing: border-box;
    }
    .card__date {
        grid-area: carddate;
        text-align: left;
    }
    footer {
        max-width: 100%;
        display: block;
        box-sizing: border-box;
    }
    footer ul {
        padding-left: 0px;
        /* width: 80%; */
    }

    .content {
        /* max-width: 100vw; */
    }

    button.menu {
        display: block;
    }
}

* {
    /* outline: 1px solid rgba(6, 255, 6, 0.652);
    background: rgba(6, 255, 6, 0.093); */
}

