
* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}  

html, body {
    margin: 0px;
    padding: 0px;
}


.container {
    max-width: 750px;
    margin: 0px auto;
    padding: 40px 15px;
}

blockquote {
    position: relative;
    text-align: center;
    margin: 40px 20px;
    padding: 30px;
    background: #fff;
    filter: drop-shadow(0px 0px 5px rgba(128, 128, 128, 0.363));
    font-size: 1.5rem;
    font-weight: 100;
}

blockquote::before {
    content: "❝";
    position: absolute;
    top: -2rem;
    left: -20px;
    font-size: 4rem;
    color: rgb(25, 25, 26);
}


img {
    max-width: 100%;
    position: relative;
}


a {
    --color: rgb(167, 167, 167);
    color: var(--color);
    border-bottom: 4px solid var(--color);
    position: relative;
    text-decoration: none;
    transition: .3s;
}

a:hover {
    --color: rgb(0, 0, 0);
    color: var(--color);
    border-bottom: 4px solid var(--color);
}


a.tag {
    --color: rgb(167, 167, 167);
    color: var(--color);
    border: 1px solid rgba(0, 0, 0, 0);
    position: relative;
    text-decoration: none;
    transition: .3s;
    display: inline-block;
    margin: 5px;
    padding: 2px 10px;
    border-radius: 2px;
    margin-left: 0px;
    font-size: .9rem;
}

a.tag:hover {
    --color: rgb(0, 0, 0);
    color: var(--color);
    background: #00f5622d;
    border: 1px solid rgba(0, 0, 0, 0.104);
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 500px) {
    .container {
        padding: 0px;
    }
    h1, h2, h3, h4, h5, p {
        margin: 15px;
    }
}
