{{define "drawer"}}

<aside class="drawer" id="drawer">
    <button class="drawer__close" onclick="toggleMenu()">
        <img height="50" src="/static/icons/close.svg" alt="close">
    </button>
    <div class="drawer__content">
        <h1>Tags</h1>
        <ul>
            {{range .Global.Tags}}
                <li><a href="/tag/{{.}}">#{{.}}</a></li>
            {{end}}
        </ul>
        
        <h1>Categories</h1>
        <ul>
            {{range .Global.Catagories}}
                <li><a href="/category/{{.}}">{{.}}</a></li>
            {{end}}
        </ul>

        <h1>Share</h1>
        <ul class="social-media">
                {{if .DefaultMetaData.Instagram}} <a title="instagram" href="{{.DefaultMetaData.Instagram}}" target="_blank" class="icon"><img src="/static/icons/instagram.svg" height="30" alt="instagram"></a> {{end}}
                {{if .DefaultMetaData.Twitter}} <a title="twitter" href="{{.DefaultMetaData.Twitter}}" target="_blank" class="icon"><img src="/static/icons/twitter.svg" height="30" alt="twitter"></a> {{end}}
                {{if .DefaultMetaData.Facebook}} <a title="facebook" href="{{.DefaultMetaData.Facebook}}" target="_blank" class="icon"><img src="/static/icons/facebook.svg" height="30" alt="facebook"></a> {{end}}

                <a title="copy" onclick="copyURL()" class="icon"><img src="/static/icons/copy.svg" height="30" alt="instagram"></a>
        </ul>
    </div>
</aside>

{{end}}

