{{define "header"}}

<header class="header">
    <div class="header__left">
        <a href="/" class="logo">
            {{if .DefaultMetaData.Logo}}
                <img src="{{.DefaultMetaData.Logo}}" alt="logo" >
            {{else}}
                <img src="/static/images/logo.png" alt="logo" >
            {{end}}
        </a>
    </div>

    <div class="header__middle">
        {{if .DefaultMetaData.Name}}
            {{.DefaultMetaData.Name}}
        {{else}}
            Default Name
        {{end}}
    </div>

    <button class="header__right menu">
        <img src="/static/icons/menu.svg" alt="menu">
    </button>
</header>

{{end}}