{{define "header"}}

<header>
    <div class="header__left">
        <div class="logo">
            {{if .DefaultMetaData.Logo}}
                <img src="{{.DefaultMetaData.Logo}}" alt="logo" >
            {{else}}
                <img src="/static/images/logo.png" alt="logo" >
            {{end}}
        </div>
    </div>

    <div class="site-name">
        {{if .DefaultMetaData.Name}}
            {{.DefaultMetaData.Name}}
        {{else}}
            Default Name
        {{end}}
    </div>

    <button class="menu" onclick="toggleMenu()">
        <img height="40px" src="/static/icons/menu.svg" alt="menu">
    </button>
</header>

{{end}}