<!DOCTYPE html>
<html lang="en">

<head>
    {{block "head" .}}{{end}}
</head>

<body>
    
    <span class="copied" id="copied">Copied!</span>
   
    {{block "header" .}}{{end}}

    {{block "drawer" .}}{{end}}

    <main>
        {{block "aside1" .}}{{end}}
        {{block "aside2" .}}{{end}}
        <div class="content">
            {{block "content" .}}{{end}}
        </div>
    </main>

    {{block "footer" .}}{{end}}

    <script src="/static/js/global.js"></script>
    {{block "scripts" .}}{{end}}
</body>
</html>